/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/


/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}



/*	Typography presets
	------------------	*/

.gigantic {
	font-size: 110px;
	line-height: 120px;
	letter-spacing: -2px;
}

.huge, h1 {
	font-size: 68px;
	line-height: 72px;
	letter-spacing: -1px;
}

.large, h2 {
	font-size: 42px;
	line-height: 48px;
}

.bigger, h3 {
	font-size: 26px;
	line-height: 36px;
}

.big, h4 {
	font-size: 22px;
	line-height: 30px;
}

body {
	font: 16px/24px Georgia, serif;
}

.small, small {
	font-size: 13px;
	line-height: 18px;
}

/* Selection colours (easy to forget) */

::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}



/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
	width: 896px;
	padding: 48px 48px 84px 48px;
	background: rgb(232,232,232);
	color: rgb(60,60,60);
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}


.searchbutton  {
	width:320px;
	height: 40px;}

.searchbox {
	width:320px;
	height:30px;}

.select_diet {
	width:260px;
	height:40px;
	}
	
.ui-menu-item {	width:320px;}

#diet_type_desc {display:inline;}

#diet_type {margin-top:35px;}


/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	body {
		width: 98%;
		padding: 48px 8px 8px 8px;
	}
	
	.searchbutton  {
	width:280px;
	height: 40px;}

	.searchbox {
	width:280px;
	height:30px;}

	.select_diet {
	width:200px;
	height:40px;}

	.ui-menu-item {	width:280px;}

}




/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
	body {
		width: 98%;
		padding: 4px 4px 4px 4px;
	}
	
	.searchbutton  {
	width:220px;
	height: 40px;}

	.searchbox {
	width:220px;
	height:30px;
	}
	
	.ui-menu-item {	width:220px;}
	

	.select_diet {
	width:220px;
	height:40px;
	}

#diet_type_desc {display:block;margin-top:3px;}


}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	body {
		width: 98%;
		padding: 4px 4px 4px 4px;
	}
	
	
.searchbutton  {
	width:280px;
	height: 40px;}

.searchbox {
	width:280px;
	height:30px;}

.select_diet {
	width:200px;
	height:40px;
	}
	
.ui-menu-item {	width:280px;}

#diet_type {margin-top:25px;}
	
}





body {
	margin-left:auto;
	margin-right:auto;
	}

P {padding-bottom:20px;}

#cont {
	text-align:center;
	}




/* search form */

.searchform {margin-top:10px;
			text-align:center;
			margin-left:auto;
			margin-right:auto;
			}

.searchbox {
	font: 18px Georgia, serif;
	padding:3px;
	margin-top:25px;
	color:#777;}


.searchbutton  {
	margin-top:25px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:2px solid #dcdcdc;
	display:inline-block;
	color:#000;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.classname:active {
	position:relative;
	top:1px;
}


.select_diet {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:2px solid #dcdcdc;
	display:inline-block;
	color:#000;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.classname:active {
	position:relative;
	top:1px;
}


/* nav links */

#navig {margin-top:25px}



/* product detail */

#rating {background: #fff;padding:8px 10px 3px 10px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	margin-bottom:5px;
}

#rating_number {font-family:verdana, sans-serif;
		font-size:50px;
		font-weight:bold;
		padding:10px;
	}

#rating_desc {font-size:24px;margin-top:5px;margin-bottom:10px;}

.vhodnost1 {color:#529E5F;}
.vhodnost2 {color:#7A803B;}
.vhodnost3 {color:#D5AB76;}
.vhodnost4 {color:#B04517;}
.vhodnost5 {color:#8D1F1C;}

#product_desc {font-size:18px;margin-top:5px;margin-bottom:10px;text-align:left;}


/* discussion */

#discussion UL {list-style-type:disc;
margin-left:35px;
margin-bottom:25px;}


#discussion {margin-top:15px;
text-align:left;
background: #fff;padding:8px 10px 3px 10px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
}

.discussion_comment {margin-top:15px;}

.discussion_name {font-weight:bold;}

.discussion_date {font-weight:normal;}

.comment_text {display:block;}

#pagination {margin-top:25px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	width:95%;
	padding-top:10px;
	border-top:1px solid #ededed;}

#pagination_text {float:left;
	padding-right:20px;
	padding-top:10px}

.page {display:block;
	width:65px;
	border:1px solid #ededed;	
	padding:6px 2px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	font-size:18px;
	text-align:center;
	float:left;
	margin-bottom:10px;
}

.page_selected {background:#ededed;
			font-weight:bold;}

.page A {display:block;}

.clear {clear:both;
		padding-bottom:20px}
		
/* product list */		

#product_list {background: #fff;
	padding:8px 10px 3px 10px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	margin-bottom:5px;
	margin-top:25px;
column-width: 12em;
column-gap: 1em;
-moz-column-width: 12em;
-webkit-column-width: 12em;
-moz-column-gap: 1em;
-webkit-column-gap: 1em;
}

#product_list UL {list-style-type:none;
margin-left:35px;
margin-bottom:25px;
text-align:left;
width:230px;
}

#product_list UL LI.category {
			font-weight: bold;
			margin-top:25px;}

#product_list UL LI.category_first {margin-top:0px;}


#product_list UL LI DIV {width:10em;}

.product_rating {width:30px;
text-align:right;
display:block;
float:right;
}


/* autocomplete */

.ui-autocomplete {list-style-type:none;
margin-left:15px;}

.ui-menu-item {padding:4px;font-size:20px;background:#fff;
width:320px;border:1px solid #dcdcdc;}


/* add forum */


#frm-commentNew {
	width:100%;
	margin-left:auto;
	margin-right:auto;}

label {clear:both;}

#frm-commentNew input {
	font: 18px Georgia, serif;
	padding:3px;
	color:#777;
	}

#frm-commentNew textarea {
	width: 90%;
	font: 18px Georgia, serif;
	padding:10px;
	color:#777;
	}

input#frmcommentNew-submit {
margin-top:25px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:2px solid #dcdcdc;
	display:inline-block;
	color:#000;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.classname:active {
	position:relative;
	top:1px;
}