# configure PHP
php_flag magic_quotes_gpc off
php_flag register_globals off

# mod rewrite
RewriteEngine On
#RewriteBase /rhok

# front controller
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule !\.(css|js|pdf|ico|gif|jpg|png|rar|zip|tar\.gz)$ index.php [L]